body {
    font-family: Arial;
    background: #f5f6fa;
    text-align: center;
    transition: 0.3s;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background: #ddd;
    border-radius: 10px;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: green;
    border-radius: 10px;
    transition: 0.3s;
}

/* Dark Mode */
.dark {
    background: #1e1e1e;
    color: white;
}

.dark .container {
    background: #2c2c2c;
}
